body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.page-header {
    text-decoration-color: lightcoral;
    height: 200px;
    background: url('../images/Luxury-vacation-rental-Dencarik-Pantai_48.jpeg') no-repeat center center fixed;
    background-size: cover;
}
.footer{
    font: 200;
}
/*Changed footer color*/
.footer-text{
    color: black;
}
.navbar-header{
    color: #7767AB;
   
}
#backing {
    background-color: lavender;
    
}
.thumbnail{
    background-color: lavender;
}
.header-text{
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo{
    color: black;
    font-style: oblique;
}
.caption{
    text-decoration-color: white;
}

